<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="basic_scara">

  <gazebo>
    <!-- ROS 2 Humble (Ignition Fortress) -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system"
              name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find scara_controller)/config/scara_robot_controller.yaml</parameters>
      </plugin>
    </xacro:if>

    <!-- ROS 2 Iron / Jazzy (Gazebo Harmonic/Garden) -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find scara_controller)/config/scara_robot_controller.yaml</parameters>
      </plugin>
    </xacro:unless>
  </gazebo>

</robot>